@font-face {
    font-family: "VictorianFont";
    src: url('org/example/anovelfantasy/VictorianFont.ttf');
}

#gameTitle{
    -fx-font-family: "VictorianFont", sans-serif;
}

.separator{
    -fx-background-color: black;
}

.bookDetails{
    -fx-text-fill: white;
}