@font-face {
    font-family: "VictorianFont";
    src: url('org/example/anovelfantasy/VictorianFont.ttf');
}

#gameTitle{
    -fx-font-family: "VictorianFont", sans-serif;
}

.separator{
    -fx-background-color: black;
}

.bookDetails{
    -fx-text-fill: white;
}

.transparent-text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: white;
}

.loadingAnchor {
    -fx-background-color: radial-gradient(center 50% 50%, radius 70%, lightskyblue, aliceblue, white);
}

.gameAnchor {
    -fx-background-color: linear-gradient(to bottom, #828A73, #BDC2B0);
}

.gameOverBox{
    -fx-background-color: white;
}

.bookDetails {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

.button {
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 1px;
    -fx-border-color: #3c3c3c;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-pref-width: 100px;
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 0, 0);
}

.button:hover {
    -fx-background-color: #d6d6d6;
    -fx-border-color: #96b946;
}

.button:pressed {
    -fx-background-color: #b6b6b6;
}

.button:focused {
    -fx-border-color: #96b946;
    -fx-border-width: 2px;
}

